<h1>Add a Video</h1>

<form method="post" action="/video">
    <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" id="Title" name="Title"/>
    </div>
    <div class="form-group">
        <label for="Author">Author:</label>
        <input type="text" id="Author" name="Author" />
    </div>
    <button type="submit">Create Movie</button>
</form>
